h1{
    font-size : clamp(2rem, 10vw, 3rem);
  }

h2{
    font-size : clamp(1.8rem, 8vw, 2.6rem);
  }

 h3{
    
    font-size : clamp(1.6rem, 6vw, 2.4rem);
  }
  
  
  blockquote, li, p {
    font-size : clamp(1.5rem, 6vw, 2.4rem); /**/
  }

:root {
    --h1-text-color:#ffffff;
    --h1-bg-color:#002f3f;
    --h2n3-border:#002f3f;
    --heading-text-color: #002f3f;/*  */
    --heading-bg-color: #ffffff;/*  */
    --pbg-color: #A63C3C;/*  */
    --bg-color: #eaeaea;/*  */
    --text-color : #00203F;/*  */
    --bq-text-color :#eaeaea;
    --bq-bg-color :#002f3f;
    --hadith-ref-color:#6f0a0a;

}

body {
    
    font-family: mehr;
    word-spacing: 250%;
    background-color: var(--bg-color);
 }

 header {
    
 }

p {
    color: var(--text-color);
}

h1 {
    color: var(--h1-text-color);
    background-color: var(--h1-bg-color);
    border-radius: 15px 15px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    
}

h2 {
    color: var(--heading-text-color);
    border:var(--h2n3-border) 1px solid;
    border-radius:0 0 20px 20px;
    padding-right: 10px;
    vertical-align: middle;
}

h3 {
    color: var(--heading-text-color);
    border: var(--h2n3-border) 1px solid;
    border-radius:0 0 15px 15px;
    padding-right: 10px;
    vertical-align: middle;
}

blockquote {
    color: var(--bq-bg-color);
    padding: 15px;
    margin: 5px;
    border: #6f0a0a 1px solid;
    border-radius: 10px;

}


ul {
    list-style: none;
}

li {
    color:var(--text-color);
    padding: 20px;
}



ul > li::before {content: "•"; color:#6f0a0a;
    display: inline-block; width: 1em;
    margin-right: -1em}


.wrapper {
    background-color: var(--bg-color);
    border: #00203F 5px solid;
    box-shadow: 10px 10px 8px #888888;
    max-width: 650px;
    padding: 2% 10%;
    margin: 0 auto;
}

.hadith-ref {
    display: block;
    font-size: 0.8em;
    color: var(--hadith-ref-color);
    text-align: left;

}


.quran-ref {
    display: block;
    font-size: 0.8em;
    color: var(--hadith-ref-color);
    text-align: left;

}

a[href^="mailto:"]
{ 
  font-family: sans-serif;
  color:#6f0a0a;
  font-size: 12px;
}